<a href="https://colab.research.google.com/github/sanchita-5/Core_JAVA/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
# Creating a NumPy array from a Python list
list_data = [1, 2, 3, 4, 5]
array_from_list = np.array(list_data) # Converts list to ndarray
print("Array from list:", array_from_list)

Array from list: [1 2 3 4 5]

In [7]:
# Creating a 1D array
array_1d_= np.array([10, 20, 30])
print("1D Array",array_1d_)

1D Array [10 20 30]

In [9]:
# Creating a 2D array(matrix-like)
array_2d = np.array([[1, 2, 3], [4, 5, 6]]) # 2 rows, 3 columns
print("2D Array:\n", array_2d)

2D Array:
 [[1 2 3]
 [4 5 6]]

In [10]:
# Create evenly spaced integers with arange(like Python range)
array_range = np.arange(0, 10, 2) # from 0 to 8 with step size of 2
print("Range Array:",array_range)

Range Array: [0 2 4 6 8]

In [13]:
# Create evenly spaced floats using linspace
array_linspace = np.linspace(0, 1, 5)
# 5 values from 0 to 1 (inclusive)
print("Linspace array", array_linspace)

Linspace array [0.   0.25 0.5  0.75 1.  ]

In [12]:
# Create a 2x3 array of all zeros
zeros_array = np.zeros((2,3))
print("Zeros Array", zeros_array)

Zeros Array [[0. 0. 0.]
 [0. 0. 0.]]

In [14]:
# Create 3x2 array of all ones
ones_array = np.ones((3, 2))
print("Ones Array:\n", ones_array)

Ones Array:
 [[1. 1.]
 [1. 1.]
 [1. 1.]]

In [15]:
# Create a 2x2 array filled with value 7
full_array = np.full((2,2),7)
print("Full Array:\n", full_array)

Full Array:
 [[7 7]
 [7 7]]

In [18]:
# Define a 2D array(2 rows, 3 columns)
sample_array = np.array([[1, 2, 3], [4, 5, 6]])
print("Sample Array:\n", sample_array)

# Shape: tuple of(rows, columns)
print("Shape:", sample_array.shape)

# ndim: number of dimensions(axes.1D, 2D, 3D)
print("Number of Dimenssion:", sample_array.ndim)

#dtype
print("Datatype:", sample_array.dtype)

#size
print("Total Elements:", sample_array.size)

Sample Array:
 [[1 2 3]
 [4 5 6]]
Shape: (2, 3)
Number of Dimenssion: 2
Datatype: int64
Total Elements: 6

In [21]:
# Each row = a product; each column = a month(Jan to Feb )
sales_data = np.array([[120,220,130], [200,300,400], [240,440,500]])
print("Sales_Data:\n", sales_data)

Sales_Data:
 [[120 220 130]
 [200 300 400]
 [240 440 500]]

In [27]:
# Element at row 0, column 1 (Product A in Feb)
print("Element at [0,1]:", sales_data[0, 1])

# Entire first row (Product A)
print("First row:", sales_data[0])

# Last column (March for all products)
print("Last column:", sales_data[:, -1])

# Subarray: First 2 rows and first 2 columns
print("Block (first 2 rows, first 2 columns):\n", sales_data[:2, :2])

# Reverse the order of rows (Products C, B, A)
print("Reversed Rows:\n", sales_data[::-1])

# Every other column (Jan and Mar)
print("Every other column:\n", sales_data[:-1, ::-1])

Element at [0,1]: 220
First row: [120 220 130]
Last column: [130 400 500]
Block (first 2 rows, first 2 columns):
 [[120 220]
 [200 300]]
Reversed Rows:
 [[240 440 500]
 [200 300 400]
 [120 220 130]]
Every other column:
 [[130 220 120]
 [400 300 200]]

In [28]:
print(sales_data[-1: -3: -1])

[[240 440 500]
 [200 300 400]]

In [29]:
print(sales_data[-1: -3])

[]

In [30]:
# Last row
print("Last row:", sales_data[-1:, ])

Last row: [[240 440 500]]

In [33]:
print("Second Last row:", sales_data[-2])

Second Last row: [200 300 400]

In [37]:
time_series = np.array([[1, 2, 3, 4], [5, 6, 7, 8],[9, 10, 11, 12]])
print("time_square:\n", time_series)

time_square:
 [[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [46]:
print("First column:\n", time_series[:, 0])

First column:
 [1 5 9]

In [43]:
print("Last two column:\n", time_series[:,2:])

Last two column:
 [[ 3  4]
 [ 7  8]
 [11 12]]

In [47]:
# Create a 3x4 array with values 1-12
time_series = np.arange(1, 13).reshape(3, 4)
print("Time Series:\n", time_series)

Time Series:
 [[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [48]:
# Create a 3x4 array with values 1-12
time_seriess = np.arange(1, 13)
print("Time Series:\n", time_seriess)

Time Series:
 [ 1  2  3  4  5  6  7  8  9 10 11 12]

In [49]:
# Define two simple arrays of the same shape
arr1 = np.array([10, 20, 30, 40])
arr2 = np.array([1, 2, 3, 4])

# Perform basic arithmetic operations
print("Addition:", arr1 + arr2)           # [11 22 33 44]
print("Subtraction:", arr1 - arr2)        # [ 9 18 27 36]
print("Multiplication:", arr1 * arr2)     # [ 10  40  90 160]
print("Division:", arr1 / arr2)           # [10. 10. 10. 10.]

# Array and scalar operation
print("Add 100 to arr1:", arr1 + 100)     # [110 120 130 140]

Addition: [11 22 33 44]
Subtraction: [ 9 18 27 36]
Multiplication: [ 10  40  90 160]
Division: [10. 10. 10. 10.]
Add 100 to arr1: [110 120 130 140]

In [53]:
# 2D_array example
matrix = np.array([
    [5, 10, 15],
    [20, 25, 30]
])

# Full-array aggregations
print("Total Sum:", np.sum(matrix))
print("Mean Value:", np.mean(matrix))
print("Standard Deviation:", np.std(matrix))

# Axis-wise aggregations
print("Sum by column (axis=0):", np.sum(matrix, axis=0))
print("Sum by row (axis=0):", np.sum(matrix, axis=1))
print("Mean by row (axis=1):", np.mean(matrix, axis=1))

Total Sum: 105
Mean Value: 17.5
Standard Deviation: 8.539125638299666
Sum by column (axis=0): [25 35 45]
Sum by row (axis=0): [30 75]
Mean by row (axis=1): [10. 25.]

In [55]:
# Boolean Masking and Filtering

scores = np.array([60, 75, 85, 90, 45])

# Create a boolean mask for scores >= 70
pass_mask = scores >= 70
print("Pass mask:", pass_mask)

# Filter values using the mask
print("Passing scores:", scores[pass_mask])

# Combine conditions: select scores between 70 and 90 (inclusive)
print("Scores between 70 and 90:", scores[(scores >= 70) & (scores <= 90)])

Pass mask: [False  True  True  True False]
Passing scores: [75 85 90]
Scores between 70 and 90: [75 85 90]

In [56]:
# Conditional Logic with np.where()
# Use np.where to assign labels
labels = np.where(scores >= 70, "Pass", "Fail")
print("Labels for scores:", labels)

Labels for scores: ['Fail' 'Pass' 'Pass' 'Pass' 'Fail']

In [58]:
# Create an array with NaN values
data_with_nan = np.array([3.0, np.nan, 7.0, np.nan, 5.0])

# Detect NaN positions
print("NaN mask:", np.isnan(data_with_nan))

# Aggregate safely while ignoring NaNs
print("Mean ignoring NaNs:", np.nanmean(data_with_nan))

# Replace NaNs with 0
filled_data = np.nan_to_num(data_with_nan, nan=5.0)
print("Replaced NaNs with 0:", filled_data)

NaN mask: [False  True False  True False]
Mean ignoring NaNs: 5.0
Replaced NaNs with 0: [3. 5. 7. 5. 5.]

In [59]:
# Create a 1D arraay of 12 elements
arr = np.arange(12)
print("Original array:", arr)

# Reshape into 3x4 (3 rows, 4 columns)
reshaped = arr.reshape(3, 4)
print("Rehaped (3x4):\n", reshaped)

# Flatten using ravel (view) and flatten (copy)
raveled = reshaped.ravel()
flattened = reshaped.flatten()

print("Raveled (1D view):", raveled)
print("Flattened (1D copy):", flattened)

Original array: [ 0  1  2  3  4  5  6  7  8  9 10 11]
Rehaped (3x4):
 [[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
Raveled (1D view): [ 0  1  2  3  4  5  6  7  8  9 10 11]
Flattened (1D copy): [ 0  1  2  3  4  5  6  7  8  9 10 11]

In [60]:
temps_transposed = matrix.T
print(temps_transposed)

[[ 5 20]
 [10 25]
 [15 30]]

In [65]:
row = matrix[0]
col = matrix.reshape(-1, 1)
print("row to col:\n",col)

row to col:
 [[ 5]
 [10]
 [15]
 [20]
 [25]
 [30]]

In [66]:
# Convert back to row
row_again = col.reshape(1, -1)
print("row again:\n", row_again)

row again:
 [[ 5 10 15 20 25 30]]

In [68]:
a = np.array([[1, 2], [3, 4]])
b = np.array([[5, 6], [7, 8]])

# Horizontal stack (along columns)
h_stack = np.hstack((a, b))
print("Horizontal Stack:\n", h_stack)

# Vertical stack (along rows)
v_stack = np.vstack((a, b))
print("Vertical Stack:\n", v_stack)

# Generic concatenate: axis=0 (rows), axis=1 (columns)
concat_axis0 = np.concatenate((a, b), axis=0)
concat_axis1 = np.concatenate((a, b), axis=1)
print("Concatenate axis=0:\n", concat_axis0)
print("Concatenate axis=1:\n", concat_axis1)

Horizontal Stack:
 [[1 2 5 6]
 [3 4 7 8]]
Vertical Stack:
 [[1 2]
 [3 4]
 [5 6]
 [7 8]]
Concatenate axis=0:
 [[1 2]
 [3 4]
 [5 6]
 [7 8]]
Concatenate axis=1:
 [[1 2 5 6]
 [3 4 7 8]]

In [71]:
# Create a 2D array
arr = np.arange(16).reshape(4, 4)
print("Original Array:\n", arr)

# Split vertically into two 2x4 arrays
split_vert = np.vsplit(arr, 2)
print("Vertical Split (2x4 each):")
for s in split_vert:
    print(s)

# Split horizontally into two 4x2 arrays
split_horiz = np.hsplit(arr, 2)
print("Horizontal Split (4x2 each):")
for s in split_horiz:
    print(s)

Original Array:
 [[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]
 [12 13 14 15]]
Vertical Split (2x4 each):
[[0 1 2 3]
 [4 5 6 7]]
[[ 8  9 10 11]
 [12 13 14 15]]
Horizontal Split (4x2 each):
[[ 0  1]
 [ 4  5]
 [ 8  9]
 [12 13]]
[[ 2  3]
 [ 6  7]
 [10 11]
 [14 15]]

In [72]:
arr = np.array([
    [100, 101, 102],
    [110, 111, 112],
    [120, 121, 122],
    [130, 131, 132]
])

# Select rows 0, 2 and 3
selected_rows = arr[[0, 2, 3]]
print("Selected rows 0, 2, 3:\n", selected_rows)

# Reorder columns
reordered_cols = arr[:, [2, 0, 1]]
print("Reordered columns (2, 0, 1):\n", reordered_cols)

Selected rows 0, 2, 3:
 [[100 101 102]
 [120 121 122]
 [130 131 132]]
Reordered columns (2, 0, 1):
 [[102 100 101]
 [112 110 111]
 [122 120 121]
 [132 130 131]]

In [73]:
data = np.array([45, 12, 89, 33])

# Sorted values
sorted_data = np.sort(data)
print("Sorted Data:", sorted_data)

# Indices that would sort the array
sort_order = np.argsort(data)
print("Sort Order Indices:", sort_order)

# Use sort_order to reorder the array manually
print("Data sorted using indices:", data[sort_order])

Sorted Data: [12 33 45 89]
Sort Order Indices: [1 3 0 2]
Data sorted using indices: [12 33 45 89]